body {
    font-family: "Open Sans", sans-serif;
    margin: 0%;
    padding: 0%;
}
.main {
    display: flex;
    flex-direction: row;
}
.left {
    background-color: #ceedff;
    flex: 21%;
}
.middle {
    background-color: #ffffff;
    flex: 58%;
}
.right {
    background-color: #ceedff;
    flex: 21%;
}
