body {
    font-family: "Open Sans", sans-serif;
    margin: 0%;
    padding: 0%;
}
.main {
    display: flex;
    flex-direction: row;
}
.left {
    background-color: #f8ce99;
    flex: 17%;
}
.middle {
    background-color: #e7f1d3;
    flex: 66%;
}
.right {
    background-color: #b1d8e8;
    flex: 17%;
}
