body {
  margin: 0%;
  padding: 0%;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.registration {
    display: flex;
    flex-direction: column;
    place-items: top;
}
.registration input {
    width: 180px;
    height: 20px;
    margin: 1px;
    border: 2px solid #43a047;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

.registration button {
    width: 195px;
    height: 28px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background: #43a047;
    color: white;
    cursor: pointer;
}

.registration button:hover {
    background: #2e7d32;
}
.login {
    display: flex;
    flex-direction: column;
    place-items: center;
}
.login input {
    width: 180px;
    height: 20px;
    margin: 1px;
    border: 2px solid #43a047;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

.login button {
    width: 195px;
    height: 28px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background: #43a047;
    color: white;
    cursor: pointer;
}
.login button:hover {
    background: #2e7d32;
}
.loginmsg {
    margin: 0;
    color: green;
    font-size: 26px;
}
.loginasmsg {
    color: green;
    font-size: 20px;
    margin-bottom: 0;
}
.user {
    margin: 0;
    color: green;
    font-size: 45px;
}