.UserSidebar {
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
}

.Header {
    background-color: #a1d0ff;
    font-weight: bold;
    font-size: 29px;
    color: #237ac7;
    text-align: center;
    height: 45px;
}

.UserSidebarList{
    margin-top: 0;
    height: auto;
    padding: 0;
    width: 100%;
}

.UserSidebarList .chatroom{
    width: 100%;
    height: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
}

.UserSidebarList .chatroom:hover{
    background-color: white;
    cursor: pointer;
}
.chatroom #spacer {
    flex: 10%;
    display: flex;
}
.chatroom #title {
    flex: 90%;
    color: black;
}

.UserSidebarList input {
width: 180px;
height: 20px;
margin: 1px;
border: 2px solid #43a047;
border-radius: 5px;
padding: 5px;
font-size: 16px;
}