.UserProfile {
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
}

.Header {
    background-color: #a1d0ff;
    font-weight: bold;
    font-size: 29px;
    color: #237ac7;
    text-align: center;
    height: 45px;
}

.i-circle {
    background: #80e5ec;
    color: #fff;
    padding: 9px 24px;
    border-radius: 50%;
    border: solid;
    border-color: #66b7bd;
    border-width: 2px;
    font-size: 35px;
}

.UserProfile button {
    width: 195px;
    height: 28px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background: #43a047;
    color: white;
    cursor: pointer;
}

.UserProfile button:hover {
    background: #2e7d32;
}

.UserProfile input {
    width: 180px;
    height: 20px;
    margin: 1px;
    border: 2px solid #5b94df;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

.redButton {
    width: 195px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 12px;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    background: #d84f4f;
    color: white;
    cursor: pointer;
}

.redButton:hover {
    background: #e60404;
}